<link href="custom/css/footer.css" media="screen" rel="stylesheet">
<footer class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<div class="navbar-brand">
				Powered by NewsLine @ CCSP 2014.
			</div>
		</div>
	</div>
</footer>