<div class="row">
	<div class="col-md-12">
		<div class="header" style="border-bottom: 1px solid #e5e5e5">
			<ul class="nav nav-pills pull-right">
			  <li><a href="#">Home</a></li>
			  <li><a href="#">About</a></li>
			  <li><a href="#">Help?</a></li>
			  <li><a href="#">Contact</a></li>
			</ul>
			<h3 class="text-muted" style="padding-bottom:0px;font-size:40px">NewsLine <small><em>/&nbsp Line your news</em></small></h3>
		</div>
	</div>
</div>