<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content ="text/html"; charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title %></title>
	<link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/vis/vis.min.css">
	<link rel="stylesheet" href="/public/custom/css/newsline.css">
</head>
<body>
	<div class="container">
		<% include header %>
		<div class="row info">
			<div class="col-md-6">
				<div class="jumbotron">
					<h1><%= tag %></h1>
					<p>第一次出現時間: <span id="firsttime"></span></p>
					<p>總篇數: <span id="total"></span></p>
					<p>Tag 數量前 3 名:</p>
					<p>1. <span id="tag1"></span></p>
					<p>2. <span id="tag2"></span></p>
					<p>3. <span id="tag3"></span></p>
				</div>
			</div>
			<!-- column for pop up -->
			<div class="col-md-6" id="popup"></div>
		<div>
		<div class="container">
			<div class="row">
				<!-- column here for timeline -->
				<div class="col-md-12" id="timeline"></div>
				<!-- end timeline column -->
			</div>
		</div>
		<% include footer %>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/public/custom/js/jquery-ui.min.js"></script>
	<script src="/public/vis/vis.min.js"></script>
	<script src="/public/custom/js/newsline.js"></script>
	<!-- self JS -->
	<script type="text/javascript">
		$(document).ready(function() {
			// process timeline format
			var tag = '<%= tag %>';
			setTimeLine(tag, 'timeline');
		});
	</script>
</body>
</html>