<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content ="text/html"; charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title %></title>
	<!-- unknown -->
	<link rel="stylesheet" href="Public/css/style.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="Public/css/bootstrap.min.css">
	<!-- timeline -->
	<link rel="stylesheet" href="Public/css/timeline.css">
	<!-- self css -->
	<link rel="stylesheet" href="Public/css/newsline.css">
</head>
<body>
	<header>
		<!--render after linking data-->
		<div id="tag-topic">Tag Topic</div>
	</header>
	<!-- timeline -->
	<div id="timeline"></div>
	<footer>@ CCSP Final Project By NewsLine.</footer>
	<!-- jQuery -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
	</script>
	<!-- jQuery UI -->
	<script type="text/javascript" src="Public/js/jquery-ui.min.js">
	</script>
	<!-- storyJS -->
	<script type="text/javascript" src="Public/js/storyjs-embed.js">
	</script>
	<!-- timelineJS -->
	<script type="text/javascript" src="Public/js/timeline.js">
	</script>
	<!-- self JS -->
	<script> var data = <%= news_data %>; </script>
	<script type="text/javascript" src="Public/js/temp.js">
	</script>
</body>
</html>