<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content ="text/html"; charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title %></title>
	<!-- unknown -->
	<link rel="stylesheet" href="/Public/css/style.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="/Public/css/bootstrap.min.css">
	<!-- timeline -->
	<link rel="stylesheet" href="http://visjs.org/dist/vis.css">
	<!-- self css -->
	<link rel="stylesheet" href="/Public/css/newsline.css">
</head>
<body>
	<header>
		<!--render after linking data-->
		<div id="tag-topic">Tag Topic</div>
	</header>
	<!-- timeline -->
	<div id="timeline"></div>
	<footer>@ CCSP Final Project By NewsLine.</footer>
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<!-- jQuery UI -->
	<script src="/Public/js/jquery-ui.min.js"></script>
	<!-- storyJS -->
	<script src="/Public/js/storyjs-embed.js"></script>
	<!-- timelineJS -->
	<script src="/Public/js/timeline.js"></script>
	<script src="http://visjs.org/dist/vis.js"></script>
	<!-- self JS -->
	<script type="text/javascript">
		$(document).ready(function() {
			// process timeline format
			var tag = '<%= tag %>';
			$.get('/data/' + tag, '', function (data) {
				var container = document.getElementById('timeline');
				var groups = new vis.DataSet([
						{id: 1, content: tag}
					]);
				var items = [];
				for (var i = 0; i < data.length; i++) {
					items[i] = {
						id: i,
						group: 1,
						start: new Date(data[i].time),
						content: data[i].title
					};
				}
				var options = {
					type: 'point',
					max: '2019-12-31',
					min: '1989-01-01',
					zoomMax: 315360000000,
					zoomMin: 10000
				};
				var timeline = new vis.Timeline(container, null, options);
				timeline.setGroups(groups);
				timeline.setItems(items);
			});
		});
	</script>
</body>
</html>