div.main {
	margin-top: 3rem;
}

img.logo {
	width: 470px;
	opacity: 0.9;
}

/*
nav.form {
	border-radius: 15px;
	margin-left: -155px;
	margin-top: 50px;
	width: 360px;
}
*/

form.search {
	margin-top: 2.5rem;
	margin-bottom: 1.5rem;
}
